apiVersion: v1
kind: Secret
metadata:
  name: ingress-nginx-tls
  namespace: "{{ ingress_nginx_namespace }}"
data:
  tls.crt: {{ ingress_nginx_tls_cert | b64encode }}
  tls.key: {{ ingress_nginx_tls_key  | b64encode }}
type: kubernetes.io/tls
