---
apiVersion: v1
kind: Secret
type: kubernetes.io/rook
metadata:
  name: rook-ceph-mon
  namespace: rook-ceph-external
data:
  admin-secret: "{{ rook_ceph_external_admin_secret | b64encode }}"
#  ceph-secret: ""
#  ceph-username: ""
  cluster-name: "{{ 'rook-ceph-external' | b64encode }}"
  fsid: "{{ rook_ceph_external_fsid | b64encode }}"
  mon-secret: "{{ 'mon-secret' | b64encode }}"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: rook-ceph-mon-endpoints
  namespace: rook-ceph-external
data:
  data: "{{ rook_ceph_external_mon_data }}"
  mapping: "{}"
  maxMonId: "2"

---
apiVersion: v1
kind: Secret
type: kubernetes.io/rook
metadata:
  name: rook-csi-rbd-node
  namespace: rook-ceph-external
data:
  userID: "{{  rook_ceph_rbd_node_userid  | default('csi-rbd-node') | b64encode }}"
  userKey: ""

---
apiVersion: v1
kind: Secret
type: kubernetes.io/rook
metadata:
  name: rook-csi-rbd-provisioner
  namespace: rook-ceph-external
data:
  userID: "{{  rook_ceph_rbd_provisioner_userid  | default('csi-rbd-provisioner') | b64encode }}"
  userKey: ""

---
apiVersion: v1
kind: Secret
type: kubernetes.io/rook
metadata:
  name: rook-csi-cephfs-node
  namespace: rook-ceph-external
data:
  adminID: "{{  rook_ceph_cephfs_node_adminid  | default('csi-cephfs-node') | b64encode }}"
  adminKey: ""

---
apiVersion: v1
kind: Secret
type: kubernetes.io/rook
metadata:
  name: rook-csi-cephfs-provisioner
  namespace: rook-ceph-external
data:
  adminID: "{{  rook_ceph_cephfs_provisioner_adminid  | default('csi-cephfs-provisioner') | b64encode }}"
  adminKey: ""
