apiVersion: v1
kind: Namespace
metadata:
  name: "{{ dex_namespace }}"
  labels:
    app: auth-system
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ gangway_namespace }}"
  labels:
    app: auth-system
