{#
  https://github.com/heptiolabs/gangway/blob/master/docs/README.md#create-secret
#}
# kubectl -n auth-system create secret generic gangway-key --from-literal=sesssionkey=$(openssl rand -base64 32)
apiVersion: v1
kind: Secret
metadata:
  name: gangway-key
  namespace: {{ gangway_namespace }}
data:
  sesssionkey: {{ lookup('password', '/dev/null length=32') | b64encode }}
